name: Smoke Test
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v6.2.0
      with:
        pip-install: -r requirements.txt
      
    - name: Install Node.js
      uses: actions/setup-node@v4

    - name: Install npm dependencies
      run: npm install

    - name: Run NPM Tests
      run: npm test
